<div class="profilepic">	
  <img src="//www.gravatar.com/avatar/{{ site.email | remove: ' ' | strip_newlines | downcase | md5 }}?s=160" alt="{{ site.author }}" style="width: 160px; min-height: 160px" />
</div>
{% include custom/header.html %}
<p class="subtitle">{{ site.subtitle }}</p>
<nav id="main-nav">{% include navigation.html %}</nav>
<nav id="sub-nav">
	<div class="social">
		{% if site.facebook_user %}
		<a class="facebook" href="https://www.facebook.com/{{ site.facebook_user }}" title="Facebook"><i class="icon-twitter"></i></a>
		{% endif %}
    
		{% if site.googleplus_user and site.googleplus_hidden == false %}
		<a class="google" href="https://plus.google.com/{{ site.googleplus_user }}" rel="author" title="Google+"><i class="icon-twitter"></i></a>
		{% endif %}
    
		{% if site.twitter_user %}
		<a class="twitter" href="https://twitter.com/{{ site.twitter_user }}" title="Twitter">
		  <i class="icon-twitter"></i>
		</a>
		{% endif %}
    
		{% if site.github_user %}
		<a class="github" href="https://github.com/{{ site.github_user }}" title="GitHub">
      <i class="icon-github"></i>
    </a>
		{% endif %}
		
		{% if site.linkedin_user %}
		<a class="linkedin" href="https://www.linkedin.com/in/{{ site.linkedin_user }}">
		  <i class="icon-linkedin"></i>
		</a>
		{% endif %}
		
		{% if site.subscribe_rss %}
		<a class="rss" href="{{ site.subscribe_rss }}" title="RSS"><i class="icon-rss"></i></a>
		{% endif %}
	</div>
</nav>
